/* Start Global Ruls  */

:root{
    --main-color:#f5cb57;
    --text-color:#333;
}
body{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;

}
ul{
    list-style: none;
    
}

/* Satrt header  */
#sales_bar {
    padding-top: 5px;
    padding-bottom:5px ;
    text-align: center;
    width: 100%;
    background-color: black;
    color: aliceblue;
}
#copy-coupon {
    text-decoration: underline;
    color: rgb(218, 218, 218);  
    
    padding-left: 5px;
    padding-right: 5px;
}


.section{
width: 70% ;
text-align: center;
margin: auto;

}
/* End Header */




/* start body */
